@model VCCReportingTool.Models.WorkItem
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var grid = new WebGrid(Model.UnUpdatedData, rowsPerPage: 10, canPage: false); //nonupdateddata
    //var grid1 = new WebGrid(Model.SelectedforDevelopment, rowsPerPage: 10, canPage: false); //selected for dev
    //var grid2 = new WebGrid(Model.DevInProgressdata, rowsPerPage: 10, canPage: false); //devinprogress
    //var grid3 = new WebGrid(Model.BacklogData, rowsPerPage: 10, canPage: false); //backlog
    //var grid4 = new WebGrid(Model.CompletedItems, rowsPerPage: 10, canPage: false); //done items
    //var UpcomingTasks = new WebGrid(Model.UpcomingData, rowsPerPage: 10, canPage: false); // Upcoming /No Jira Tickets
    //var items = ViewBag.Workitemslist;
    //var Status = "";
    //var Assignee = "";
    //var CurrentDate = DateTime.Now.ToString("MM-dd-yyyy");

    //if (Model.Status1 == null)
    //{
    //    Status = "";
    //}
    //else
    //{
    //    Status = Model.Status1.Description;
    //}

    //if (Model.User == null)
    //{
    //    Assignee = "";
    //}
    //else
    //{
    //    Assignee = Model.User.FullName;
    //}
}
<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/workitems/site.js"></script>
    
</head>
<body>
    <div class="actionworkitems">
        <div class="nav navbar-nav navbar-right">
            <a href='@Url.Action("ViewPreview", "WorkItems")' class="btn btn-primary">View Preview</a> |
            <input type="button" id="SyncDataPopup" class="btn btn-primary" value="sync" data-toggle="modal" data-target="#mySyncModal" />
        </div>
    </div>

    @Html.Partial("Partials/_SyncOptions")

    <div id="divLoader" style="display:none;"><img src="~/Content/ajax-loader.gif" height="200" width="200" alt="Loader" style="position: absolute; top: 50%; left: 45%;" /></div>

    
</body>
</html>
