@model VCCReportingTool.Models.WorkItem

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top"><b>@Html.DisplayNameFor(model => model.WorkItemID):</b></td>
        <td>
            @Html.DisplayFor(model => model.WorkItemID)
        </td>
        <td valign="top"><b>@Html.DisplayNameFor(model => model.Summary):</b></td>
        <td>
            @Html.DisplayFor(model => model.Summary)
        </td>
    </tr>
</table>
